html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: yellowgreen;
  color: #432000;
  user-select: none;
  height: 100vh;

}


.wholeThing {
  background-color: #60b3c1;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  position: relative;
  border-radius: 10px;
  overflow-y: auto;
}




.christmasBackground {
  /* Set the Christmas background image */
  background-image: url('./snowflake.jpg');
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  position: relative;
  border-radius: 10px;
  overflow-y: auto;
}

.musicBackgroundOne {
  background-image: url('./firstMusic.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  position: relative;
  border-radius: 10px;
  overflow-y: auto;

}


/* Define styles for snowflakes */
.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  /* Snowflake color */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  to {
    transform: translateY(100vh);
  }
}





.funButton {
  width: fit-content;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #d9534f;
  margin: 0 auto;
  margin-top: 3px;

  background-color: #5bc0de;

  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.funButton:hover {
  background-color: #d9534f;
  color: #ffffff;

}

.eachInvitee {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #432000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #d9534f;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 auto;
  gap: 5px;
}

.buttonNextTo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.groupTitle {
  margin: 0;
  /* Remove default margin to ensure accurate centering */
}

.groupTitle,
button {
  margin: 10px;
  /* Adjust the margin to control the distance from the margins */
}

.editButton {
  padding: 3px 6px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #4CAF50;
  /* Green color */
  color: #4CAF50;
  /* Green color */
  background-color: #fff;
  /* White color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.editButton:hover {
  background-color: #4CAF50;
  /* Green color on hover */
  color: #fff;
  /* White color on hover */
}

.groupTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  /* Remove default margin to ensure accurate centering */
  color: #333;
  /* Adjust the color to your preference */
}

.nameInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9534f;
  border-radius: 4px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  /* Remove default margin to ensure accurate centering */
  color: #333;
  /* Adjust the color to your preference */
}

.eachInviteeResult {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: lightblue;
  color: #432000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #d9534f;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 auto;

}

.addButton {
  padding: 3px 6px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #28a745;
  color: #28a745;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.addButton:hover {
  background-color: #218838;
  color: #fff;
}

.removeButton {
  padding: 3px 6px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid red;
  color: red;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.removeButton:hover {
  background-color: red;
  color: #fff;
}


.paraGraph {
  padding: 5px;
  /* Adjust the value as needed */
  text-align: center;
  /* Center the text */
  font-size: 20px;
  /* Adjust the font size as needed */
  color: #333;
  /* Adjust the color to your preference */
}

.sumThing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 5px;
  padding: 10px;
  /* Adjust the value as needed */
  text-align: center;
  /* Center the text */
  font-size: 20px;
  /* Adjust the font size as needed */
  color: #333;
  /* Adjust the color to your preference */
}

.hover-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dustbin {
  width: 20px;
  height: 20px;
}

.infoHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 5px;
  margin-right: 10px;
  margin: 0 auto;
  gap: 5px;
  padding: 1px;
  /* Adjust the value as needed */
  text-align: center;
  /* Center the text */
  font-size: 18px;
  /* Adjust the font size as needed */
  color: #333;
  /* Adjust the color to your preference */
}